:root {
    --header-inner-line-color: #79AF13;
    --header-outer-line-color: #AACA70;

    --header-background-color: #545454;
    --header-text-color: #AACA70;

    --page-header-color: #003448;
}

body {
    font-family: sans-serif;
    text-align: justify;

    margin: 0px;
    padding: 0px;
}

p {
    line-height: 1.5em;
}

div#header {
    background-color: var(--header-background-color);
    color: var(--header-text-color);

    border-top: 0.075em solid var(--header-background-color);
    border-bottom: 0.075em solid var(--header-background-color);
}

div#header hr.inner {
    border: 0.035em solid var(--header-inner-line-color);
}

div#header hr.outer {
    border: 0.125em solid var(--header-outer-line-color);
}

div#header div {
    width: 75%;

    margin: auto;
}

div#header div h2 {
    font-size: 235%;
    text-align: right;

    margin: 0px;
    padding: 150px 0px 0px 0px;
}

div#page {
    width: 50em;

    margin: auto;
}

div#page h1 {
    font-size: 100%;
    color: var(--page-header-color);

    margin: 0.5em 0.5em -0.5em 0.5em;
    padding: 0em;
}

div#page hr {
    border: 0.125em solid var(--page-header-color);
    
    margin: 0.5em 0em -0.75em 0em;
    padding: 0em;
}

div#page img {
    width: 60%;
    float: right;
}

div#page svg#gpa-graph {
    width: 85%;

    display: block;
    margin: auto;
    padding: 50px;

    /*border: 1px solid black;*/
}

div#page h1#aerohelper-header, div#page h1#orionis-header {
    font-size: 200%;
    
    color: var(--header-text-color);
}

div#page h1#aerohelper-header {
    float: left;
}

div#page h1#orionis-header {
    float: right;
}

/* d3 */
path {
    stroke: green;
    stroke-width: 1;

    fill: none;
}
