---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout title="Patrick Jahnig | Aerodlyn">
  <div class="hero prose">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1>That doesn't exist!</h1>
        <p>
          It appears I don't have something for this page. Think I should?
          Reach out <a href="mailto:patrick@aerodlyn.io">here</a>!
        </p>
        <a class="btn btn-primary no-underline" href="/">Go back</a>
      </div>
    </div>
  </div>
</BasicLayout>
